version: '3.1'

services:
  api:
    container_name: hitch-api
    image: node
    restart: always
    build: .
    command: bash -c "npm install && npm run serve"
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
    ports:
      - $API_PORT:$API_PORT
    depends_on:
      - db

  db:
    container_name: hitch-pg
    image: postgres
    restart: always
    ports:
      - 5432:$PG_PORT
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment: 
      - POSTGRES_DB=hitch_app
      - POSTGRES_USER=postgres

volumes:
  pgdata: